:root {
    --textColour: #36CEEE;
}

#title {
    color: var(--textColour);
}

.grid {
    margin: auto;
    display: grid;
    grid-template-areas: 
        "header header header"
        "input userChoice userChoice"
        "output output output";
}

.item1 { grid-area: header; }
.item2 { grid-area: input; }
.item3 { grid-area: userChoice; }
.item4 { grid-area: output; }

.gridItem {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}