:root {
    --textColour: #36CEEE;
    --font: 'Poppins';
}

#title {
    color: var(--textColour);
    font-family: var(--font);
}

.grid {
    margin: auto;
    display: grid;
    max-width: 70%;
    gap: 5px;

    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

.gridItem {
    border-style: solid;
    border-width: 2px;
    border-color: #e3e3e3;
    background-color: #e3e3e3;
    border-radius: 5px;
}

#output {
    visibility: hidden;
}